/*
=================================
07. product
=================================
*/
.most-purchased-item-active {
  .slick-arrow {
    .r-a {
      width: auto;
      background: transparent;
      height: auto;
      right: 0;
      top: -60px;
      border: none;
      color: #4c80fa;
      font-size: 15px;
      font-weight: 600;
    }
  }
}
.most-purchased-item-bg2 {
  .most-purchased-item-active {
    .slick-arrow {
      .r-a {
        color: #fff;
      }
    }
  }
}
.product-carousal-area {
  .slick-arrow {
    .l-a {
      height: 42px;
      line-height: 38px;
      font-size: 20px;
      opacity: 0;
      transition: 0.5s;
      opacity: 1;
    }
    .r-a {
      height: 42px;
      line-height: 38px;
      font-size: 20px;
      opacity: 0;
      transition: 0.5s;
      opacity: 1;
    }
  }
}
.hvr {
  &:hover {
    color: #4c80fa;
  }
}
.hvr2 {
  &:hover {
    color: #ff5b30;
  }
}
.hvr3 {
  &:hover {
    color: #3dbebd;
  }
}

.popular-product3 {
  .single-product {
    &:hover {
      .img-zoom {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;
      }
    }
  }
}
.best-product-right {
  &:hover {
    .img-zoom {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transition: 0.7s;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
    }
  }
}

.img-zoom {
  &:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
  }
}
.social-link {
  li {
    a {
      font-size: 14px;
      font-size: 16px;
      width: 40px;
      height: 39px;
      border: 1px solid #ddd;
      display: block;
      text-align: center;
      line-height: 38px;
      margin-right: 5px;
      &:hover {
        color: #fc4a1a;
      }
    }
    a.active {
      color: #4c80fa;
    }
  }
}
.review-cat a {
  color: #979393;
}
.review-comments-area h5 {
  font-weight: 400;
}
.review-text a {
  font-size: 13px;
}
.review-text a i {
  margin-left: 4px;
}
.page-title h2 {
  font-size: 45px;
  font-weight: 500;
}

// category

.category-lineup {
  h2 {
    font-size: 120px;
    color: #f7f7f7;
    line-height: 0.68;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    letter-spacing: 12px;
    word-spacing: 30px;
    text-transform: uppercase;
  }
}
.category-widget {
  h5 {
    font-family: "Futura PT Demi";
    font-size: 17px;
    color: #222222;
  }
  li {
    a {
      font-size: 14px;
      font-weight: 400;
      color: #444444;
      position: relative;
      transition: 0.3s;
      text-transform: capitalize;
      &:hover {
        color: #4c80fa;
        padding-left: 15px;
        &::before {
          display: inline-block;
        }
      }
      &::before {
        position: absolute;
        content: "__";
        left: 0;
        top: -50%;
        color: #4c80fa;
        display: none;
      }
    }
  }
  ul {
    li {
      margin-bottom: 9px;
    }
  }
}

.category-lineup-area2 {
  .category-lineup {
    h2 {
      color: #f9f9f9;
      letter-spacing: 14.66px;
    }
  }
}
.banner-sub-tittle {
  font-size: 22px;
  font-family: 'Inter', sans-serif;
}
.banner-sub-tittle2 {
  color: #878787;
  font-family: 'Inter', sans-serif;
}
.banner-title {
  h4 {
    font-size: 30px;
  }
}
.off-tag {
  a {
    font-size: 14px;
    background: #febd00;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  right: 62px;
  top: 2px;
}
.free-shopping-area {
  p {
    font-size: 13px;
  }
}
.countdown-time {
  bottom: 25px;
}
.timer {
  .d-flex {
    > span {
      margin-right: 6px;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    }
  }
  span {
    font-size: 16px;
    color: #111;
    background: #fff;
    min-width: 46px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    font-weight: 600;
  }
  p {
    text-transform: uppercase;
    color: #888;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 3px;
  }
}
.time-count {
  padding-top: 8px;
}
.weekly-deal {
  .timer {
    .d-flex {
      > span {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #ff5b30;
      }
    }
    span {
      color: #fff;
      background: #ff5b30;
      border-radius: 50%;
    }
    p {
      color: #fff;
      margin-bottom: 8px;
    }
  }
}
.promo-banner-content {
  width: 38%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  h2 {
    font-size: 38px;
    padding-right: 196px;
  }
}
.weekly-deal-area {
  .weekly-deal {
    .timer {
      .d-flex {
        > span {
          background: #3dbebd;
        }
      }
      span {
        background: #3dbebd;
      }
    }
  }
}
.off-banner-area {
  .section-title {
    h3 {
      font-size: 38px;
      line-height: 1.1;
    }
  }
}
.most-purchased-item-bg {
}
.single-product-info {
  bottom: 35px;
  left: 0;
  right: 0;
  h6 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
    line-height: 1.4;
    font-size: 18px;
  }
}
.single-product-price {
  span {
    font-size: 14px;
    del {
      color: #b2b2b2;
    }
  }
}
.single-product-label {
  top: 21px;
  right: -2px;
  border-radius: 25px 0 0 25px;
  background: #e4573d;
  min-height: 20px;
  min-width: 45px;
  line-height: 18px;
  border-radius: 25px 0 0 25px;
  -webkit-border-radius: 25px 0 0 25px;
  -moz-border-radius: 25px 0 0 25px;
  -ms-border-radius: 25px 0 0 25px;
  -o-border-radius: 25px 0 0 25px;
  span {
    font-size: 12px;
  }
}
.single-product-label.text-label {
  right: auto;
  left: 0;
  background: #57b47a;
  border-radius: 0 25px 25px 0;
}
.product-list-view.active {
  background: $theme-color;
}
.single-product {
  .single-product-img {
    position: relative;
    &:hover .product-action {
      opacity: 1;
      visibility: visible;
      bottom: 0;
    }
    .product-action {
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      padding: 0 10px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        height: 45px;
        width: 45px;
        font-size: 16px;
        color: #444444;
        margin-bottom: 7px;
        border-radius: 5px;
        &:hover,
        &.active {
          background: #ff5b30;
          color: $white;
        }
        &.gray-bg {
          background: #f2f2f2;
          &:hover,
          &.active {
            background: #ff5b30;
            color: $white;
          }
        }
      }
      .pro-action-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &:hover {
      .single-product-info {
        bottom: 60px;
      }
      .product-action {
        li {
          a {
            transform: scaleX(1);
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
          }
        }
      }
    }
  }
}
.handpick-items-area {
  .single-product-label {
    top: 0;
  }
}
.product-action {
  li {
    a {
      &:hover,
      &.active {
        color: #fff;
        background: #4c80fa;
        background: #3dbebd;
      }
      background: #f2f2f2;
      height: 43px;
      line-height: 43px;
      transition: 0.3s;
    }
  }
}
.nice-select {
  .list {
    left: auto;
    right: 0;
  }
  color: #222;
  font-weight: 600;
  font-size: 13px;
  &::after {
    height: 7px;
    width: 7px;
  }
}
.hm2 {
  .single-product-info {
    h6 {
      a {
        &:hover {
          color: #ff5b30;
        }
      }
    }
  }
  .title {
    &:hover {
      color: #ff5b30;
    }
  }
  .mean-container {
    .mean-nav {
      ul {
        li {
          a {
            &:hover {
              color: #ff5b30;
            }
          }
        }
      }
    }
  }
}
.single-product-category {
  a {
    span {
      font-size: 38px;
    }
  }
  h5 {
    font-size: 15px;
    font-weight: 500;
  }
  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background: #ebebeb;
    right: 0;
    top: 0;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
  &:hover {
    h5 {
      -webkit-animation: pulse 0.5s ease-in-out;
      -moz-animation: pulse 0.5s ease-in-out;
      -ms-animation: pulse 0.5s ease-in-out;
      animation: pulse 0.5s ease-in-out;
    }
  }
  width: 163px;
}
.product-category-bg {
  max-width: 1420px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.06);
  top: -80px;
}

.shop-color {
  li {
    width: 50%;
    float: left;
  }
}
.shop-tag {
  li {
    a {
      font-size: 12px;
      font-weight: 400;
      color: #333;
      padding: 4px 7px;
      display: inline-block;
      background: #f5f5f5;
      margin-right: 4px;
      margin-bottom: 5px;
    }
  }
}

// sidebar

.sidebar-widget {
  h6 {
    font-size: 20px;
    font-weight: 500;
  }
  a {
    &:hover {
      color: #ff3030;
    }
  }
  .accordion {
    &:after {
      content: "\e921";
      font-family: "icomoon";
      float: right;
      margin-left: 5px;
      font-weight: 800;
      font-size: 14px;
      color: #323232;
    }
  }
  .active {
    &::after {
      content: "\e923";
    }
  }
  .panel {
    padding: 0 18px;
    max-height: 0;
    transition: 0.2s ease-out;
  }
  &:hover {
    > {
      ::after {
        width: 100%;
      }
    }
  }
}
.pro-wishlist {
  .web-btn {
    span {
      font-size: 18px;
    }
  }
}
.size {
  li {
    a {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      line-height: 45px;
      font-size: 14px;
      font-weight: 500;
      color: #000;
      &:hover {
        background: #ae946d;
        color: #fff;
        border: 1px solid #ae946d;
      }
    }
  }
}
.view-mode {
  span {
    font-size: 18px;
  }
}
.shop-product {
  .nav-tabs {
    .nav-link {
      padding-left: 0;
      padding-right: 17px;
      font-size: 18px;
      color: #777;
    }
    .shop-product {
      .nav-item.show {
        .nav-link {
          color: #222;
        }
      }
    }
    .nav-link.active {
      color: #222;
    }
  }
}
#slider-range {
  position: relative;
  margin-bottom: 25px;
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-state-default {
  background: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.004);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.ui-widget-content {
  .ui-state-default {
    background: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.004);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  background: #ebebeb;
}
.ui-widget-header {
  .ui-state-default {
    background: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.004);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  background: #000;
}
.ui-button {
  background: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.004);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
html {
  .ui-button.ui-state-disabled {
    &:hover {
      background: #fff;
      border-radius: 50px;
      border: none;
      outline: none;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.004);
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
    &:active {
      background: #fff;
      border-radius: 50px;
      border: none;
      outline: none;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.004);
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
  }
}
.ui-slider-horizontal {
  height: 6px;
  border-radius: 0;
  .ui-slider-handle {
    top: -5px;
  }
}
.ui-slider {
  .ui-slider-handle {
    height: 15px;
    width: 15px;
    -webkit-transition: all 0s ease-out 0s;
    -moz-transition: all 0s ease-out 0s;
    -ms-transition: all 0s ease-out 0s;
    -o-transition: all 0s ease-out 0s;
    transition: all 0s ease-out 0s;
    &:before {
      position: absolute;
      content: "";
      height: 6px;
      width: 6px;
      background: #000;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
}
.price-slider {
  .prc-amount {
    input {
      font-weight: 500;
      width: 95px;
      max-width: 180px;
      color: #777;
    }
  }
  .ecom-btn {
    font-size: 14px;
  }
}
.product-filter {
  a {
    span {
      font-size: 12px;
    }
  }
}
.prc-amount {
  label {
    font-size: 16px;
    color: #222;
    font-weight: 600;
  }
}
.page-link {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #222;
  background: #f3f3f3;
  display: inline-block;
  border: 0px;
  outline: none;
  cursor: pointer;
  margin: 0px 5px;
  padding: 0px;
  transition: all linear 0.4s;
  &:focus {
    outline: 0;
    box-shadow: 1;
  }
}
.page-item {
  &:hover,
  &.active {
    .page-link {
      color: #fff;
      background-color: #ff5b30;
      border-color: #ff5b30;
    }
  }
  &:first-child {
    &:hover {
      .page-link {
        background: transparent;
        border-color: transparent;
        color: #ff5b30;
      }
    }
  }
  &:last-child {
    &:hover {
      .page-link {
        background: transparent;
        border-color: transparent;
        color: #ff5b30;
      }
    }
  }
}
.page-link.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #666;
  line-height: 1;
  height: inherit;
  width: inherit;
  left: 0;
  right: 0px;
  left: auto;
}
.page-link.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #666;
  line-height: 1;
  height: inherit;
  width: inherit;
  left: 0;
}
.page-item.disabled {
  .page-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #666;
    line-height: 1;
    height: inherit;
    width: inherit;
    left: 0;
  }
}
.product-left-img-tab {
  .nav-pills {
    .nav-link {
      padding: 0;
      margin-bottom: 24px;
      width: 120px;
    }
  }
}
.product-gallery-btn {
  a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
}
.all-info {
  .quantity-field {
    input {
      width: 160px;
      height: 50px;
      border: 2px solid #e9e9e9;
    }
  }
}
.product-view-info {
  input:disabled {
    background: none;
  }
  .custom-prev {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    border-left: 2px solid #e9e9e9;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 54px;
    color: #9b9b9b;
  }
  button {
    &.custom-prev,
    &.custom-prev:active {
      border-right: 0;
      border-bottom: 0;
      border-top: 0;
    }
  }
  button {
    &.custom-next,
    &.custom-next:active {
      border-bottom: 0;
      border-top: 0;
    }
  }
  .custom-next {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    border-left: 2px solid #e9e9e9;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 54px;
    color: #9b9b9b;
  }
  button {
    border-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.cart-area {
  .custom-prev {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    border-left: 2px solid #e9e9e9;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 54px;
    color: #9b9b9b;
  }
  .custom-next {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    border-left: 2px solid #e9e9e9;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 54px;
    color: #9b9b9b;
  }
  .web-btn {
    font-size: 13px;
  }
}
.custom-next {
  right: auto;
  left: 0;
  border-left: none;
  border-right: 2px solid #e9e9e9;
}
.product-review-tab-area {
  .nav-pills {
    .nav-link.active {
      color: #ff5b30;
      background: transparent;
    }
    .nav-link {
      font-size: 20px;
      margin-right: 25px;
    }
  }
  .table {
    > {
      :not(caption) {
        > * {
          > * {
            padding: 16px 30px;
          }
        }
      }
    }
  }
  .title {
    &::before {
      background: #ff5b30;
    }
  }
}
.product-view-tab-area {
  .nav-pills {
    .show {
      > .nav-link {
        color: #ff5b30;
        background: transparent;
      }
    }
  }
}

.cart-table {
  .table {
    td {
      padding-top: 20px;
      padding-bottom: 20px;
      vertical-align: middle;
    }
    th {
      padding-top: 20px;
      padding-bottom: 20px;
      vertical-align: middle;
    }
  }
}
.coupon-area {
  .web-btn {
    font-size: 13px;
  }
  span {
    font-size: 15px;
    color: #323232;
    line-height: 1.5;
    font-weight: 500;
    &:hover {
      color: #ff3030;
      text-decoration: underline;
    }
  }
  &:hover {
    h6 {
      &::before {
        color: #ff3030;
      }
    }
  }
  input {
    border: 1px solid #f9f9f9;
    height: 45px;
    margin: 0 0 14px;
    padding: 0 0 0 10px;
    border-radius: 0;
  }
  .form-control {
    &:focus {
      border-color: #e7e7e7;
    }
  }
}
.checkout-area {
  .web-btn {
    width: auto;
    font-size: 13px;
  }
  span {
    font-size: 15px;
    color: #323232;
    line-height: 1.5;
  }
  label {
    font-size: 15px;
    color: #323232;
    line-height: 1.5;
    margin-bottom: 5px;
    display: block;
  }
  &:hover {
    h6 {
      &::before {
        color: #ff3030;
      }
    }
  }
  input {
    border: 1px solid #f9f9f9;
    height: 45px;
    margin: 0 0 14px;
    padding: 0 0 0 10px;
    border-radius: 0;
  }
  .form-control {
    &:focus {
      border-color: #e7e7e7;
    }
  }
  .nice-select {
    border: solid 1px transparent;
    &::after {
      height: 8px;
      right: 22px;
      width: 8px;
    }
  }
  h4 {
    font-size: 26px;
  }
}
.coupon-code-area {
  input {
    height: 50px;
    border: 1px solid #ebebeb;
  }
}
.total-price-area {
  h2 {
    font-size: 22px;
  }
}
.p-name {
  font-size: 14px;
}
.cart-img {
  width: 120px;
  margin: 0 auto;
}
.p-remove {
  top: 18px;
  span {
    font-size: 18px;
  }
  a {
    right: 3px;
  }
}
.table-content.table-content4 {
  width: 120px;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}
.mobile-wishlist {
  .p-img {
    img {
      width: 120px;
    }
  }
}
.table {
  td {
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
  }
  th {
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
  }
  thead {
    th {
      vertical-align: bottom;
      border-bottom: 1px solid #dee2e6;
      color: #000000;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
    }
  }
  td.table-content {
    padding: 20px 10px;
    text-align: center;
  }
}
.group-p-table {
  .table {
    th {
      padding: 20px 10px;
      text-align: center;
    }
  }
}
.btn.p-add-cart {
  width: 150px;
}
.p-stock-status {
  font-weight: 600;
}
#login {
  cursor: pointer;
}
#couponshow {
  cursor: pointer;
}
.coupon-accordion {
  h6 {
    background: #f9f9f9;
    border-top: 3px solid #ff3030;
    font-size: 15px;
    font-weight: 500;
    &::before {
      content: "\f660";
      left: 16px;
      top: 17px;
      position: absolute;
      color: #323232;
      font-family: "Font Awesome 5 pro";
      font-weight: 700;
    }
  }
}
.checkbox-form {
  .checkout-area {
    label {
      span {
        color: #ff3030;
      }
    }
  }
}
.country-select {
  select {
    border: 1px solid #f9f9f9;
    height: 45px;
    margin: 0 0 14px;
    padding: 0 0 0 10px;
    border-radius: 0;
    .form-control {
      &:focus {
        border-color: #e7e7e7;
      }
    }
  }
  select.form-control {
    &:not([size]) {
      &:not([multiple]) {
        height: 45px;
        font-size: 14px;
      }
    }
  }
}
.shipping {
  .r-inpt {
    height: auto !important;
  }
}
.order-notes {
  textarea {
    border: 1px solid #e7e7e7;
    height: 90px;
    &::placeholder {
      opacity: 1;
    }
  }
}
.your-order {
  background: #f9f9f9;
}
.your-order-table {
  table {
    th {
      border-top: medium none;
      vertical-align: middle;
      white-space: nowrap;
      width: 50%;
      border-bottom: 1px solid #e7e7e7;
      border-right: medium none;
      color: #323232;
      font-size: 14px;
      padding: 15px 0;
    }
    td {
      border-bottom: 1px solid #e7e7e7;
      border-right: medium none;
      color: #323232;
      font-size: 14px;
      padding: 15px 0;
    }
  }
}
.payment-method {
  h6 {
    .btn-link {
      font-size: 14px;
      color: #323232;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
.faq-title {
  h3 {
    font-size: 20px;
    &::after {
      content: "";
      width: 50px;
      border-top: 3px solid #ff3030;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: 0.3s;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
.review-title {
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
.faq-accor {
  button {
    width: 100%;
  }
}
.faq-btn {
  span.qan {
    font-size: 18px;
    color: #323232;
    font-weight: 500;
  }
}
.collapsed {
  .faq-close-btn {
    span {
      &::before {
        position: absolute;
        content: "\e92e";
        top: -11px;
        font-size: 13px;
        font-weight: 600;
        color: #292929;
      }
    }
  }
}
.faq-close-btn {
  font-size: 13px;
  width: 25px;
  font-weight: 600;
}
.faq-area {
  .btn-link {
    color: #292929;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}
.accordion-button {
  &:focus {
    border-color: 0;
    box-shadow: 0;
  }
}
.most-purchased-item-bg2 {
  background-size: cover;
  background-position: bottom left;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #dee2e6;
}
.product-banner-content.banner-content-2 {
  padding: 44px 37px;
}
.product-box-2 {
  padding: 45px 39px;
}
.pro-heading-2 {
  padding-bottom: 30px;
}
.single-handpick-item {
  padding: 0 10px;
}
.most-purched-2 {
  background-position: right top;
  background-size: 111%;
  @media #{$laptop} {
    background-position: right;
  }
  @media (max-width: 1550px) {
    background-size: cover;
  }
}
.single-product-info .border-gray {
  border: 0;
}
.your-order .accordion-header .accordion-button {
  font-size: 18px;
  color: #323232;
  font-weight: 500;
  cursor: pointer;
  background: transparent;
}
.your-order .accordion-header .accordion-button:focus {
  outline: none;
  box-shadow: none;
  border-color: #ddd;
}
.your-order .accordion-item {
  background: #fff;
  margin-bottom: 20px;
}

.your-order {
  & .accordion-collapse {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
}
.different-address .nice-select {
  width: 100%;
  border-radius: 0;
  padding: 0;
  border: 1px solid #ddd;
  margin-bottom: 33px;
}

.different-address .nice-select span.current {
  padding-left: 20px;
  font-weight: 500;
}
li.post-view span {
  padding-right: 10px;
  display: inline-block;
}
li.post-comments span {
  padding-right: 10px;
}

.additional-information {
  max-width: 100%;
  overflow-x: auto;
}
.single-handpick-item img {
  margin-right: auto;
  margin-left: 0;
}

.r-inpt.mb-2.mr-1 {
  margin-bottom: 5px !important;
  margin-right: 5px;
}
