/*
=================================
14. testimonial
=================================
*/

.testimonial-info {
	font-size: 13px;
	h5 {
		font-size: 18px;
	}
}
.rating {
	span {
		font-size: 13px;
	}
	li {
		span {
			color: #febd00;
		}
	}
}
.footer-address {
	li.footer-mail {
		font-size: 13px;
		a {
			color: #4c80fa;
		}
	}
	a.footer-phone {
		color: #4c80fa;
		font-size: 36px;
		small {
			font-size: 22px;
			vertical-align: top;
		}
	}
}
small.first-num {
	transform: translateY(3px);
	vertical-align: top;
	display: inline-block;
}
.quote {
	top: -5px;
	right: 1px;
	span {
		width: 38px;
		line-height: 38px;
		border-radius: 50%;
		font-size: 13px;
	}
}
.subscribe-wrapper3 {
	.subscribe-info {
		input {
			height: 50px;
		}
	}
	.subscribe-btn {
		.web-btn {
			height: 50px;
		}
	}
}
.sub-btn {
	line-height: 50px;
	width: 50px;
	height: 50px;
}
.testimonial-comment {
	p {
		line-height: 1.7;
	}
}
.testimonial-padding {
	@media #{$xs} {
		padding-bottom: 30px;
	}
}

