/* Notification Component Styles */

.notification-container {
    /* margin-right: 15px; */
}

/* Notifications */

.notification {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.notification::before {
    display: block;
    font-family: "FontAwesome";
    transform-origin: top center;
}

.notification::after {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: -9px;
    right: -11px;
    padding: 4px 6px;
    line-height: 100%;
    /* border: 2px #fff solid; */
    border-radius: 50%;
    background: #4c80fa;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.notification.notify::before {
    animation: ring 1.5s ease;
}

.notification.show-count::after {
    transform: scale(1);
    opacity: 1;
    color: #fff;
}

.notification-info-panel {
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
}

.notification-info-panel .notification-message {
    list-style: none;
    padding: 4px;
    background-color: #ebebeb;
    margin-bottom: 3px;
    border: 1px solid #ececec;
    border-radius: 8px;
}

.notification-info-panel .notification-message .timestamp {
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 600;
}

.notification-info-panel .notification-message .content {
    font-size: 17px;
}

.notification-info-panel .notification-message.unread {
    background-color: #17A2B8;
    color: #FFFFFF;
}


.notification-ui a:after {
	display: none;
}

.notification-ui_icon {
	position: relative;
}
.notification-ui_icon .unread-notification {
	display: inline-block;
	height: 7px;
	width: 7px;
	border-radius: 7px;
	background-color: #66bb6a;
	position: absolute;
	top: 7px;
	left: 12px;
}
@media (min-width: 900px) {
	.notification-ui_icon .unread-notification {
		left: 20px;
	}
}

.notification-ui_dd {
	padding: 0;
	border-radius: 10px;
	box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
	border: 0;
	max-width: 400px;
}
@media (min-width: 900px) {
	.notification-ui_dd {
		min-width: 400px;
		position: absolute;
		left: -207px;
		top: 15px;
	}
}
.notification-ui_dd:after {
	content: "";
	position: absolute;
	top: -30px;
	left: calc(50% - 7px);
	border-top: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #fff;
	border-left: 15px solid transparent;
}
.notification-ui_dd .notification-ui_dd-header {
	border-bottom: 1px solid #ddd;
	padding: 15px;
}
.notification-ui_dd .notification-ui_dd-header h3 {
	margin-bottom: 0;
}
.notification-ui_dd .notification-ui_dd-content {
	max-height: 550px;
	overflow: auto;
}
.text-muted{
    font-size:14px !important;
}
.notification-list {
	display: flex;
	justify-content: space-between;
	padding: 10px 25px;
	border-bottom: 1px solid #ddd;
}
.notification-list--unread {
	position: relative;
	background: #f4f8fa;
}
.notification-list--unread:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% + 1px);
	border-left: 2px solid #007bff;
}
.notification-list .notification-list_img i {
	height: 42px;
	width: 42px;
	border-radius: 50px;
	margin-right: 20px;
    font-size: 30px;
    margin-top: 5px;
}
.text-notification{
    font-size: 20px !important;
}
.notification-list .notification-list_detail {
	margin-right: auto;
	max-width: 200px;
}
.notification-list .notification-list_detail p {
	margin-bottom: 5px;
	line-height: 1.2;
}
.notification-list .notification-list_detail .nt-link {
	border-left: 3px solid #007bff;
	line-height: 1.3;
	padding-left: 10px;
}

.btn-success-notification {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-block-notification {
    display: block;
    width: 100%;
}

.btn-notification:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-notification {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.popover-body {
    padding: 0rem 0rem;
    /* color: #212529; */
}

.alignleft {
    float: left;
    width:33.33333%;
    text-align:left;
  }
  .aligncenter {
    float: left;
    width:33.33333%;
    text-align:center;
  }
  .alignright {
   float: left;
   width:33.33333%;
   text-align:right;
  }